.topbar-toolbar {
  display: flex;
  align-items: center;
}

.topbar-name {
  font-weight: bold !important;
}

.topbar-spacer {
  flex-grow: 1;
}

.topbar-context {
  font-style: italic;
}

.topbar-checkbox {
  margin-right: 16px !important;
}
